:root {
    --darkpurple-color: #57385c;
    --redpurple-color: #a75265;
    --redorange-color: #ec7263;
    --orangeyellow-color: #febe7e; 

    --heading-fontfamily: 'Crimson Text', serif;
    --default-fontfamily: 'Poppins', sans-serif;
}

@media (max-width: 900px) {
    .main-header {
        padding: 100px 20px;
    }

    .project-description {
        padding: 0 20px;
        text-align: center;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 44px;
    }
}

h1 {
    color: var(--orangeyellow-color);
    font-family: var(--heading-fontfamily);
    font-weight: 600;
    font-size: 96px;
}

h2 {
    color: var(--redpurple-color);
    font-family: var(--heading-fontfamily);
    font-weight: 600;
    font-size: 50px;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 1,5;
}

.main-header {
    padding: 160px 20px;
    background-color: var(--darkpurple-color);
    text-align: center;
}

.main-header p {
    color: var(--redpurple-color);
    margin: 0 auto;
    font-family: var(--default-fontfamily);
    font-weight: 500;
    font-size: 30px;
}

.main-header h2 {
    color: var(--redpurple-color);
    margin: 0 auto;
    font-family: var(--heading-fontfamily);
    font-weight: 500;
    font-size: 30px;
}

.btn-branding {
    padding: 15px 30px;
    background-color: var(--redorange-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
}

.btn-branding:hover {
    padding: 15px 30px;
    background-color: var(--darkpurple-color);
    border-color: var(--redorange-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
}

.best-projects {
    padding: 20px;
    background-color: var(--redpurple-color);
    color: var(--orangeyellow-color);
}

.btn-branding-outline {
    padding: 13px 27px;
    font-size: 16px;
    line-height: 27px;
    border-radius: 4px;
    color: var(--darkpurple);
    border-color: var(--darkpurple);
}

.btn-branding-outline:hover {
    padding: 13px 27px;
    font-size: 16px;
    line-height: 27px;
    border-radius: 4px;
    color: white;
    border-color: var(--darkpurple);
    background-color: var(--darkpurple-color);
}

.project-description {
    padding: 120px 60px;
    line-height: 30px;
}

